body{
    background: #262626;
}
.wrapper h1{
    text-align: center;
    text-shadow: 0 2px 20px #fff

}



.img-area{
    /* width: 1170px; */
    display: flex;
    /* height: 70vh; */
    /* margin: 3% auto 0; */
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.single-img{
    padding:0 20px 20px ;

}
img:hover{
    opacity: .5;
    transition: .9s;
}
/* .single-img{
    flex: 1;
    margin: 0;
    padding: 0;
    background-position : center center;
    background-repeat: no-repeat;
    background-size: cover;

}
.single-img:hover{
    flex-basis: 634vw;
} */ 